/* Filename: Style.css
   Description: A stylesheet for the to-do list program
*/

#root {
    display: flex;
}

#content{
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    width: 50%;
    background: rgb(201, 201, 201);
    border-radius: 5px 20px 5px 20px;
}

#text-box{
    width: 100%;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 0px none;
    outline: none;
}

#clear-btn-div{
    margin-top: 10px;
}

#t-left{
    float: left;
}

#t-comp{
    float: right;
    text-align: right;
}

.task {
    font-size: 16pt;
}

.task input{
    margin-right: 10px;
}

.btn {
    background: rgb(220, 220, 220);
}